In [1]:
# Basic and plotting packages
library(ggplot2)
library(cowplot)
library(latex2exp)
t = theme(plot.title = element_text(size=26, hjust=0.5),
          axis.title = element_text(size=20),
          axis.text = element_text(size=16),
          legend.title = element_text(size = 20),
          legend.text = element_text(size = 16),
          plot.subtitle = element_text(size = 18, face="bold"))
theme_set(theme_minimal()+t)
options(repr.plot.width=16, repr.plot.height=6)

# Utils packages
suppressMessages( library(dplyr) ) # Pipeline

In [2]:
suppressMessages( library(timereg) )

In [3]:
data(melanoma)
df <- melanoma
head(df)

  no  status days ulc thick sex
1 789 3       10  1    676  1
2  13 3       30  0     65  1
3  97 2       35  0    134  1
4  16 3       99  0    290  0
5  21 1      185  1   1208  1
6 469 1      204  1    484  1

In [4]:
write.csv(df, "melanoma_data.csv", row.names = FALSE)